<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css" />
    <script src="https://polygit.org/components/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="http://localhost:8090/header?webcomponent=true">
    <link rel="import" href="http://localhost:8091/content?webcomponent=true">

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <my-header></my-header>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf Example</h1>
        <h2>
            <span th:text="'Message: ' + ${message}"></span>
        </h2>
    </div>
    <main-content></main-content>

</div>
</body>
</html>